<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Trip to Egypt</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>egypet_trip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture images for text translation.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to recognize speech.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to select images for text translation.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>The app needs access to speech recognition to convert audio to text.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We request access to your device's advertising identifier to deliver relevant content, optimize advertising performance, and ensure that promotions align with your preferences.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
		<!-- PUSH NOTIFICATIONS CONFIG -->
        <key>UIBackgroundModes</key>
        <array>
            <string>fetch</string>
            <string>remote-notification</string>
        </array>
        <!-- PUSH NOTIFICATIONS CONFIG -->
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
		<!-- FACEBOOK SDK CONFIG -->
    <key>CFBundleURLTypes</key>
    <array>
    <dict>
       <key>CFBundleURLSchemes</key>
       <array>
          <string>fb674039064948438</string>
       </array>
    </dict>
    </array>
    <key>FacebookAppID</key>
    <string>674039064948438</string>
    <key>FacebookClientToken</key>
    <string>58fdf2eeea9597c184bfee3506c64e59</string>
    <key>FacebookDisplayName</key>
    <string>Trip to Egypt</string>
    <!-- FACEBOOK SDK CONFIG -->
</dict>
</plist>
